*{
    margin: 0; padding: 0; box-sizing: border-box;
    background-color: #0c0d0d; color: #fff;
}

body{
    font-family: "Inter", sans-serif; width: 100%; height: 100vh;
}

.hero{
    width: 100%; 
}

.hero_img{
    width: 100%; object-fit: cover;
}

.Logo h1{
    font-size: 72px; font-weight: 400; text-align: center;
}

.arrow{
    position: relative; top: 0%; left: 22%; width: 10px; z-index: 1;
}

.arrow2{
    padding-top: 10px;
    position: relative; top: 0%; left: 25%; width: 10px; 
}

.arrow_reverse{
    position: relative; top: 0%; left: 75%; width: 10px;
}

/*BOXES*/

.main_info{
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; 
}

.main_boxes{
    display: flex; flex-direction: column; gap: 20px;
    max-width: 903px; padding-top: 20px; 
}

.box_info{
    display: flex; flex-direction: row; gap: 20px;
    align-items: center; justify-content: center; 
}

.box_img{
    max-width: 450px; object-fit: cover; 
}


.box_text{
    max-width: 420px; display: flex; flex-direction: column;
    gap: 16px; 
}

.Title h2{
    font-size: 32px; font-weight: 400;
}

.description{
    display: flex; flex-direction: column; gap: 17px;
}

.description p{
    font-size: 16px; font-weight: 300; color: #ffffff;
}

/* CONTACT */

.contact{
    display: flex; flex-direction: column; margin-top: 140px;
    padding-bottom: 140px; gap: 20px;
    align-items: center; justify-content: center;
}

.Contact_container{
    display: flex; flex-direction: row; align-items: center;
    gap: 19px;
}

.cont_image{
    width: 404px; height: 374px; object-fit: cover;
    border-radius: 48px;
}

.cont_left_side h2{
    font-size: 40px; font-weight: 400; 
}

form{
    display: flex; flex-direction: column; 
    width: 480px;
}

.field{
    padding: 12px 16px;
}

input, textarea{ 
    width: 100%; padding: 15px; font-size: 16px; font-weight: 400;
    color: #000000; border: 1px solid #dbe0e5; background: #fff;
    outline: none; font-family: "Inter", sans-serif; border-radius: 8px;
}

textarea{
    resize:vertical; min-height: 120px;
}

.btn{
    background: #1273d4; padding: 0 16px; height: 40px;
    color: #fff; font-size: 14px; font-weight: 700; border: none;
    outline: none; border-radius: 8px; cursor: pointer;
    line-height: 1.5em;
}